[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinxcontrib-wavedrom = "*"
pydata-sphinx-theme = "*"
breathe = "*"

[dev-packages]
"doc8" = "*"

[packages.sphinx-csharp]
git = "https://github.com/rogerbarton/sphinx-csharp.git"
ref = "master"
